1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [ ]:
def myreduce(num):
  sum_num=0
  for i in num:
    sum_num+=i
  return sum_num

In [ ]:
myreduce([1,10,15,19])

45

In [ ]:
# This block is for my own reference.
from functools import reduce        
a=lambda x,y : x+y
reduce(a,[1,10,15,19])
sam=iter([1,10,15,19])

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [ ]:
def myfilter(num):
  if num%2==0:
    return True
  else:
    return False

In [ ]:
lst=[0,1,2,3,4,5,6,7,8,9]
l=[]
for i in lst:
  if(myfilter(i)):
    l.append(i)
print(list(l))

[0, 2, 4, 6, 8]

In [ ]:
# This block is for my own reference.
list(filter(myfilter,lst))

[0, 2, 4, 6, 8]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists      
['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]              
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']  
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']   
[[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6],
[4, 5, 6, 7], [5, 6, 7, 8]]                  
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
strng = "ACADGILD"
alph_lst=[]
for i in strng:
  alph_lst.append(i)
print(alph_lst)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [ ]:
strng='xyz'
alph_lst=[]
for i in strng:
  temp=""
  for j in range(4):
    temp+=i
    alph_lst.append(temp)
list(alph_lst)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
strng='xyz'
alph_lst=[]
for i in range(4):
  for j in strng:
    temp=""
    for k in range(i+1):
      temp+=j
    alph_lst.append(temp)
print(list(alph_lst))

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [2]:
# [[2], [3], [4], [3], [4], [5], [4], [5], [6]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
lst=[]
lst2=[]
lst3=[]
for i in range(2,6):
  for j in range(3):
    lst.append([i+j])
for i in range(2,6):
  lst2=[]
  for j in range(4):
    lst2.append(i+j)
  lst3.append(lst2)
print(lst,lst3)

[[2], [3], [4], [3], [4], [5], [4], [5], [6], [5], [6], [7]] [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
lst=[]
for i in range(1,4):
  for j in range(1,4):
    lst.append((j,i))
list(lst)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]